.settings
.metadata
.project
.classpath
target
*.class
*.idea
.idea
*.iml
*.svn
.DS_Store
*.7zip
*.7z
*.zip
*.jar
files
classes
bin
*.xsd
.tern-project

projeto-core/.settings
projeto-core/target
projeto-core/.classpath
projeto-core/.project
